# Init for devices built on Samsung S5PC110 platform

on early-init

    loglevel 9

#   set up LVM volumes
    wait /sys/dev/block/179:0

#   kernel debug
    mount debugfs /sys/kernel/debug /sys/kernel/debug

    start ueventd

on init

    export PATH /sbin:/vendor/bin:/system/sbin:/system/bin:/system/xbin
    export LD_LIBRARY_PATH /vendor/lib:/system/lib
    export ANDROID_ROOT /system
    export ANDROID_DATA /data
    export EXTERNAL_STORAGE /sdcard

on fs

    mkdir /sdcard
    mkdir /system
    mkdir /data
    mkdir /cache
    mkdir /tmp
    mkdir /mnt 0775 root root

#   set up lvm volumes
    exec /lvm/sbin/lvm vgscan --mknodes --ignorelockingfailure
    exec /lvm/sbin/lvm vgchange -aly --ignorelockingfailure
    restorecon /dev/mapper/lvpool-system
    restorecon /dev/mapper/lvpool-userdata

    mount tmpfs tmpfs /tmp
    mount ext4 /dev/lvpool/system /system

    mkdir /data/log 0777
    chmod 0666 /dev/log/radio
    chmod 0666 /dev/log/main
    chmod 0666 /dev/log/event
    chmod 0775 /p1_charger

on post-fs

    symlink /system/etc /etc

#   set cpu governor to powersave while in charging mode
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor powersave

#   disable led buttons
    write /sys/devices/platform/s3c2440-i2c.2/i2c-2/2-004a/buttons_enabled 0

#   touch rotate
    write /sys/devices/platform/s3c2440-i2c.2/i2c-2/2-004a/pivot 0

#   touch clock: 400MHz
    write /sys/devices/platform/s3c2440-i2c.2/i2c-2/2-004a/cpufreq_lock 0

on boot

    class_start default

service debuggerd /system/bin/debuggerd

service ueventd /sbin/ueventd
    critical

service charger /p1_charger
    class charger
    critical
    seclabel u:r:p1_charger:s0
